body{
    background-color: #000000;
    background-image: url(/images/IMG_20201014_222235_540.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size:800px 750px;
}
.heading{
    font-family: sans-serif;
    color: orange;
}
.heading-small{
    font-size: 25px;
    margin-bottom: 0;
    font-family: sans-serif;
    color: orange;
}
.music-list{
    padding: 20px 50px;
    margin: 0;
    list-style: none;
}
.box-small{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.last-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn_music{
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 70px;
    border: none;
    border-radius: 5px;
}
.btn_music:hover{
    color: white;
     background-color: orange;
}